body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

#appControls {
	margin-bottom: 10px;

	.desc {
		margin-bottom: 10px;
	}
}

.board {
	border: 1px solid #ccc;
	box-sizing: border-box;

	.cell {
		box-sizing: border-box;
		border: 1px solid white;
		display: inline-block;
		width: 10px;
		height: 10px;

		&.dead {
			background-color: #cbcbcb;
		}

		&.alive {
			background-color: #30baff;
		}

		&:hover {
			background-color: #ff9736;
		}
	}
}

#boardControls {
	margin-top: 10px;
}