body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
}
#appControls {
  margin-bottom: 10px;
}
#appControls .desc {
  margin-bottom: 10px;
}
.board {
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.board .cell {
  box-sizing: border-box;
  border: 1px solid white;
  display: inline-block;
  width: 10px;
  height: 10px;
}
.board .cell.dead {
  background-color: #cbcbcb;
}
.board .cell.alive {
  background-color: #30baff;
}
.board .cell:hover {
  background-color: #ff9736;
}
#boardControls {
  margin-top: 10px;
}
